# Lattice Radiant files
*.html
impl*/
*.xml
.build_status
.run_manager.ini
.recovery
.spread_sheet.ini
.spreadsheet_view.inis
*.dir/
*.log
*.tcl
*.ccl
*.srp
*.dmp
._Real_._Math_.vhd
transcript
.setting.ini
.ng_run_manager.ini
promote.pfl
qrun.out
vsim.wlf
*.vcd
etch*
