/*-- title --*/
.navbar-brand {
    color: #E86A92;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand:hover {
    color: rgb(239, 255, 200);
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
}

/*-- navbar --*/

.navbar {
    padding-top: 10;
    padding-bottom: 10;
    background-color: #2B2D42;
    font-family:'Poppins',sans-serif;
    font-weight: 100;
    font-size: 0.6em;
  }

  @media (max-width: 991px) {
  .navbar-nav-scroll {
    background: #131c2b;
    border: white;
    color: white;
  }
  }

  #quarto-header {
    border-bottom: 1px solid rgb(36, 29, 29);
  }
  
  .navbar-brand.navbar-brand-logo {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 1em;
  }
  
  @media (max-width: 767px) {
    .navbar-brand.navbar-brand-logo {
      margin-left: 0;
  }
  }
  
  .navbar-logo {
    max-height: 2em;
    width: auto;
    align-items: baseline;
  }
  
  @media (max-width: 991px) {
  .navbar-logo {
    max-height: 1em;
    width: auto;
    align-items: baseline;
  }
  }
  
  .navbar-nav navbar-text {
    color: rgb(223, 223, 223);
    border: white;
    font-weight: 400;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ebffec;
    background-color: #000000;
    font-weight: 1000;
    font-size: large;
  }
  
  @media (max-width: 2000px) {
  .navbar-nav .nav-link {
    color: #41E2BA;
    font-weight: 400;
    font-size: large;
  }
  }
  
  .navbar-nav .show>.nav-link, .navbar-nav .active>.nav-link, .navbar-nav .nav-link.active {
    color: #b4fab1;
    font-size: large;
  }
  
  .nav-item {
    margin-top: 0.01em; 
    font-size: 25;
  }
  
  @media (max-width: 1200px) {
    .nav-item {
      margin-right: 0.5rem;
  }
  }
  
  @media (max-width: 991px) {
    .nav-item {
      margin-top: 0;
      margin-right: 0.5rem;
  }
  }
  
  .aa-DetachedSearchButton {
    margin-top: 0.5rem;
  }
  
  @media (max-width: 991px) {
    .aa-DetachedSearchButton {
      margin-top: 0;
  }
  }

/*-- main content --*/

body.nav-fixed {
    background-color: rgb(237, 255, 242);
    padding-top: 0.5em;
    color: white;
  }
  
  h1 {
    color: rgb(255, 83, 177);
    padding-top: 0.5em;
    font-size: x-large;
  }

  #quarto-content {
    font-family: 'Segoe UI',sans-serif;
    background-color: rgb(#F7F7F9);
    padding-top: 0.5em;
    color: rgb(170, 90, 127);
  }

  #quarto-content>* {
    padding-top: 0.5em;
    font-size: medium;
  }

  figcaption {
    color: rgb(91, 142, 95);
    font-size: small;
  }

  h2.anchored {
    margin-bottom: 0;
    padding-top: 0.5em;
    color: rgb(40, 102, 195);
    font-size: large;
  }

  h2.text-heading-default{
    font-family: "Times New Roman";
  }

  h2.nav-link{
    font-family: "Times New Roman";
    color: white;
  }

  /*-- nav footer styles --*/

  .nav-footer {
    color: white;
    font-family: 'Arial Narrow Bold', sans-serif!important;
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
    padding-top: 1em;
  }

  body:not(.floating) .nav-footer {
    border-top: 1px solid #f0eeeb;
  }
  
  .nav-footer a {
    color: white;
    font-weight: 400;
  }

  
  .nav-footer a:hover {
    color: #424242;
  }
  
  .nav-footer-left .footer-items .nav-link, .nav-footer-center .footer-items .nav-link, .nav-footer-right .footer-items .nav-link {
    font-weight: 400;
  }
  
  .nav-footer-left .footer-items .nav-item, .nav-footer-center .footer-items .nav-item, .nav-footer-right .footer-items .nav-item {
    margin-top: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .nav-footer-left {
    font-family:'Times New Roman';
  }
  
  .nav-footer-right {
    font-family:'Times New Roman';
  }